.align-text {
    text-align: center;
}

.background {
    background-color: #E2E2E2;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.img-setor {
    width: 30%;
    display: flex;
}